<div class="container py-2">
    <div class="" style="width: 100%">
      <!-- <div class="card mt-2">
        <div class="card-body"> -->
            <div class="initials p-fluid p-grid col-md-12 col-12"  >
         
                <div class="d-flex flex-row col-md-6 col-6" >
                  <div class="mb-1 col-md-8 col-8">
                    <div class="p-field p-col-12 p-md-4">
                      <span class="p-float-label">
                        <input
                          type="text"
                          class="input-font-w"
                          id="txtFiche"
                          [placeholder]="type_Description1"
                          pInputText
                          [(ngModel)]="longidnumber" 
                          autocomplete="off"
                        />
                        <label for="inputtext">{{type_Description1}}</label>
                      </span>
                    </div>
                  </div>
                </div> 
               
                <div class="d-flex flex-row col-md-6 col-6" >
                  <div class="mb-1 col-md-8 col-8">
                    <div class="p-field p-col-12 p-md-4">
                      <span class="p-float-label">
                        <input
                          type="text"
                          class="input-font-w"
                          id="txtFiche"
                          [placeholder]="type_Description2"
                          pInputText
                          [(ngModel)]="systemid" 
                          autocomplete="off"
                        />
                        <label for="inputtext">{{type_Description2}}</label>
                      </span>
                    </div>
                  </div>
                </div> 
            </div>
        </div>
        <div>
          
          
         
          
        <!-- </div>
      </div> -->
    </div>
  </div>
  