.or-text-primary {
  color: #3699ff !important;
}

.or-text-primary:hover {
  color: #0468cc !important;
}

.or-table-search-icon {
  color: #aba4a4 !important;
}

.or-table-search-icon:hover {
  color: #8b8989 !important;
}

.btn-edit {
  background-color: #5fcfc5 !important;
  color: #fff !important;
}

.btn-edit:hover {
  background-color: #259a90 !important;
  color: #fff !important;
}

.btn-delete {
  background-color: #eb1a44 !important;
  color: #fff !important;
}

.btn-delete:hover {
  background-color: #cc072e !important;
  color: #fff !important;
}

.btn-view {
  background-color: #3f51b5 !important;
  color: #fff !important;
}

.btn-view:hover {
  background-color: #303f9f !important;
  color: #fff !important;
}

.btn-inward {
  background-color: #8bc34a !important;
  color: #fff !important;
}

.btn-inward:hover {
  background-color: #689f38 !important;
  color: #fff !important;
}

.btn-meetball {
  background-color: #f36e15 !important;
  color: #fff !important;
}

.btn-meetball:hover {
  background-color: #e75e03 !important;
  color: #fff !important;
}

.btn-hide{
  visibility: hidden !important;
}