body {
    font-family: circularstd, sans-serif;
    background-image: linear-gradient(90deg, #e0e1e4 0%, #cbd7fc 100%);
}
element.style {
    padding-left: 15px !important;
}
header p {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
  }
.example-container {
    height: 100vh;
}
.mat-drawer-content{
    background-color: #DFE0E5 !important;
    // background-image: url('/assets/imgonline-com-ua-ReplaceColor-1XEgo86UpLqSa-removebg-preview.png'); /* Your background image */
    // background-size: cover; /* Ensure the image covers the container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    z-index: -1000 !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/assets/imgonline-com-ua-ReplaceColor-1XEgo86UpLqSa-removebg-preview.png');
    // opacity: 0.7;
}



// .active-light {
//     margin: 0 auto;
//     width: 18px;
//     height: 18px;
//     background-color: #4CBB17;
//     border-radius: 50%;
//     box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #4CBB17 0 2px 12px;
//     -webkit-animation: blinkYellow 1s infinite;
//     -moz-animation: blinkYellow 1s infinite;
//     -ms-animation: blinkYellow 1s infinite;
//     -o-animation: blinkYellow 1s infinite;
//     animation: blinkYellow 1s infinite;
//     cursor: pointer;
//   }

.active{
    color: black;
    background: linear-gradient(90deg, #FFED00 10%, rgba(255, 0, 0, 0.5215686275) 100%) !important;
  
}
// .mb-5{
//     margin-bottom: 500px;
// }
  .non-active-light{
    margin: 0 auto;
    width: 18px;
    height: 18px;
    background-color: rgb(217, 52, 68);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px;
    cursor: pointer;
  }
  .Color{
       font-size: large !important;
       font-weight: 1000 !important;
       color:  black !important;
       letter-spacing: 1px;
  }
  .intern{
  font-size: large !important;
  cursor: pointer !important;
  font-weight: 1000 !important; /* Bold font style */
  background-image: linear-gradient(to bottom, #f2e318 10%, #5b841e 100%);
  border: none; /* Gradient colors */
  background-clip: text; /* Clip the background to the text */
  -webkit-background-clip: text; /* For Safari */
  color: transparent; /* Make the text color transparent to show the gradient */
 letter-spacing: 1px;
  }
  .Colors{
    font-size: larger !important;
    color:  black !important;
    font-weight: 1000 !important;
    letter-spacing: 1px;
}

.interns{
font-size: larger !important;
cursor: pointer !important;
font-weight: 1000; /* Bold font style */
background-image: linear-gradient(to bottom, #f2e318 10%, #5b841e 100%);
border: none; /* Gradient colors */
background-clip: text; /* Clip the background to the text */
-webkit-background-clip: text; /* For Safari */
color: transparent; /* Make the text color transparent to show the gradient */
// margin-top: -2px !important;
letter-spacing: 1px;
}
  .icon{
   transform: scale(1);
   
  }
  .mat-icon {
    vertical-align: middle;
  }
  

.example-sidenav-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: #ffff;
    padding: 10px;
}
.innertree{
    height:85% !important;
    overflow: auto;
}
.footer{
    position: fixed;
}

.example-sidenav {
    padding: 20px;
    background-color: whitesmoke;
}
.btn_header {
    margin-right: 10px;
    // background: #36AE7C;
    background: linear-gradient(90deg, #FFED00 10%, #ff000085 100%);
    border: none !important;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
    color: #1B1212;
    font-size: 12px;
  }
  

.btn_header:hover {
    transform: rotate(15deg);
    background: #90EE90;
    /* Rotate by 360 degrees */
}

// .header_btn {
//     float: right;
// }

// .header_container {
//     display: flex;
//     justify-content: space-between;
//     padding: 10px;
//     background: #ffff;
// }

.example-card {
    max-width: 250px;
    height: 130px;
    background: #fff;
    box-shadow: 1px 3px 12px 3px rgba(0, 0, 0, .16);
}

.example-header-image {
    background-image: url('/assets/pngwing.com.png');
    background-size: cover;
}

// .header_title {
//     display: flex;
//     align-items: center;
// }

.cart_container {
    padding: 0px 30px 0px 30px;
}

.mat-card-image {
    width: calc(41% + 32px) !important;
    margin: 0 -16px 16px -16px;
    display: block;
    overflow: hidden;
}

.fa-bars {
    cursor: pointer;
}

.mat-tree-node{
    background: linear-gradient(90deg, #F2E318 10%, #36AE7C 100%);
    border-radius: 5px;
    width: 210px;
    margin-top: 4px;
    min-height: 0px !important;
    left: 5%;
    font-size: 12px;
    height: 50px !important;
    cursor: pointer;
    transition: transform 0.3s ease; 
}
.mat-tree-node:hover{
    background: linear-gradient(90deg, #FFED00 10%, rgba(255, 0, 0, 0.5215686275) 100%) !important;
    transform: translateY(-03px);  
    z-index: 10; 
    cursor: pointer;
}
.user-btn{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
  }
  // .icons{
  //   transform: scale(4);
  
  // }
  .icons{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 0px !important;
    margin: -10px !important;
  }
  h6{
    font-weight:600;
    color:#57747b !important;
    //  text-decoration: underline;
    cursor: pointer;
  }

.headimg{
    height: 30px;
    width: 30px;
    background-image: url(../../favicon.ico);
    background-position: bottom;
    background-repeat: no-repeat;
    cursor: pointer;
}
.mat-icon-button {
    width: 50px !important;
}

.image-container {
    display: flex;
}

.mat-card-header .mat-card-title {
    font-size: 14px !important;
}
@media screen and (max-width: 768px) {
    .btn_header {
      display: none;
    }
    .mat-drawer-content {
        height: calc(100vh - 60px); /* Full height minus the footer space */
        overflow-y: auto;  /* Ensure vertical scrolling works */
      }
    /* Optionally, you can add custom styles for mat-menu if needed */
    mat-menu {
      width: 100%;
    }
    .footer {
        position: absolute;
        bottom: 300px;
        width: 100%;
      }
  }


