.widget-container {
  display: flex;
  justify-content: space-between; 
  // margin-bottom: 15px; 
}
.black{
  color: #fff;
  background-color:#F26522 ;
}.red{
  color:#F26522 ;
}
.blue{
  color: #fff;
  background-color:#3B7080 ;
}
.white{
  color:#3B7080 ;
}
.metalgrey{
  color: #fff;
  background-color:#AB47BC ;
}
.heat{
  color:#AB47BC ;
}

.widget {
  background-color: #fff;
   color: #4d5d53;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
  display: flex;
  flex-direction: column; 
  padding: 20px;
  width: 100%; 
  max-width: 300px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
}

// #6B7280;
// #F26522 !important
@media (max-width: 767px) {
  .widget:hover .icon i {
    transform: scale(1.2);  
  }
  
}


.icon {
  width: 30px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  border-radius: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-image: linear-gradient(to bottom, #f2e318 0%, #5b841e 50%);
  // color:#f2e318;
}

.value {
  flex: 1; /* Makes sure the value section takes the remaining space */
  display: flex;
  flex-direction: column; /* Stack value elements vertically */
  align-items: flex-start;
  padding-left: 15px;
}

.value .top {
  font-size: smaller !important;
  font-weight: 700;
}

.value .bottom {
  font-size: 50px !important;
  margin-bottom: 5px; /* Space between value rows */
  font-weight: 700;
}

.header {
  font-size: medium !important;
  text-align: left; /* Align header text to the left */
  font-weight: 700;
}
.head{
  height: 1rem !important;
}
/* Media Queries for responsiveness */
@media only screen and (max-width: 1600px) {
  .widget {
    width: 100%;
    height:100px;
    margin: 0px !important;
    padding: 10px !important;
  }
}
@media only screen and (max-width: 550px) {
  .widget-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    justify-content: center;
}
}

@media only screen and (max-width: 1500px) {
  .widget {
    width: 100%;
    height:100px;
    margin: 0px !important;
    padding: 10px !important;
  }
}

@media only screen and (max-width: 1400px) {
  .widget {
    width: 100%;
    height:100px;
    margin: 0px !important;
    padding: 10px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .widget {
    width: 100%;
    height:100px;
    margin: 0px !important;
    padding: 10px !important;
  }

}

