<div class="container">
  <div class="icons p-2" (click)="back()">
    <i class="material-icons">arrow_back</i>
  </div>
  <!-- <div class="row p-2">
    <div class="col mx-1 card">
      <img
        src="https://images.unsplash.com/photo-1615114814213-a245ffc79e9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">Space image</h5>
        <h6 class="card-subtitle text-muted mb-2">Card subtitle</h6>
        <p class="card-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque
          saepe placeat ipsa dolore enim quod iste eveniet dignissimos sit
          tenetur.
        </p>
      </div>
    </div>
    <div class="col mx-1 card">
      <img
        src="https://images.unsplash.com/photo-1615057638606-a678f5f27bda?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzM3x8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">Space image</h5>
        <h6 class="card-subtitle text-muted mb-2">Card subtitle</h6>
        <p class="card-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque
          saepe placeat ipsa dolore enim quod iste eveniet dignissimos sit
          tenetur.
        </p>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="chart-wrapper">
      <ag-charts-angular class="chart" [options]="options"></ag-charts-angular>
    </div>
    <div class="chart-wrapper">
      <ag-charts-angular class="chart" [options]="optionspie"></ag-charts-angular>
    </div>
    <div class="chart-wrapper">
      <ag-charts-angular class="chart" [options]="optionsLine"></ag-charts-angular>
    </div>
  </div>
  
</div>
