<div class="container py-2">
    <div class="" style="width: 100%">
      <div class="card mt-2" *ngFor="let edu of FamilyForm; let i = index">
        <div class="card-body">
          <h6 class="card-title">Personal Awards</h6>
        </div>
        <div>
          <!-- 1st row -->
          <div class="initials p-fluid p-grid col-md-12 col-12">
            <div class="d-flex flex-row col-md-6 col-6">
              <div class="mb-1 col-md-8 col-8">
                <div class="p-field p-col-12 p-md-4">
                  <span class="p-float-label">
                    <input
                      type="text"
                      class="input-font-w"
                      id="txtFiche"
                      pInputText
                      placeholder="Award Details"
                      [(ngModel)]="edu.awardDetails"
                      autocomplete="off"
                      maxlength="10"
                    />
                    <label for="inputtext">Award Details</label>
                  </span>
                </div>
              </div>
            </div>
            <div class="d-flex flex-row col-md-6 col-6">
              <div class="mb-1 col-md-8 col-8">
                <div class="p-field p-col-12 p-md-4">
                  <span class="p-float-label">
                    <p-calendar
                      [appendTo]="'body'"
                      dateFormat="mm-dd-yy"
                      inputId="dateformat"
                      id="txtFiche5"
                      #txtFiche5
                      [(ngModel)]="edu.startDate1"
                      placeholder="Start Date"
                    ></p-calendar>
                    <label for="inputtext">Start Date</label>
                  </span>
                </div>
              </div>
            </div>
          
          </div>
           <!-- 2nd row -->
           <div class="initials p-fluid p-grid col-md-12 col-12">
            <div class="d-flex flex-row col-md-6 col-6">
              <div class="mb-1 col-md-8 col-8">
                <div class="p-field p-col-12 p-md-4">
                  <span class="p-float-label">
                    <p-calendar
                    [appendTo]="'body'"
                    dateFormat="mm-dd-yy"
                    inputId="dateformat"
                    id="txtFiche5"
                    #txtFiche5
                    [(ngModel)]="edu.dateofJoiningBoa"
                    placeholder="Joining Date"></p-calendar>
                    
                    <label for="inputtext">Joining Date</label>
                  </span>
                </div>
              </div>
            </div>
            <div class="d-flex flex-row col-md-6 col-6">
              <div class="mb-1 col-md-8 col-8">
                <div class="p-field p-col-12 p-md-4">
                  <span class="p-float-label">
                    <p-calendar
                      [appendTo]="'body'"
                      dateFormat="mm-dd-yy"
                      inputId="dateformat"
                      id="txtFiche5"
                      #txtFiche5
                      [(ngModel)]="edu.dateofcompleting2"
                      placeholder="Completed Date"
                    ></p-calendar>
                    <label for="inputtext">Completed Date</label>
                  </span>
                </div>
              </div>
            </div>
          
          </div>
          <!-- 3rd row -->
          <div class="initials p-fluid p-grid col-md-12 col-12">
      
            <div class="d-flex flex-row col-md-6 col-6">
              <div class="mb-1 col-md-8 col-8">
                <div class="p-field p-col-12 p-md-4">
                  <span class="p-float-label">
                    <textarea
                    id="txtFiche4"
                    [(ngModel)]="edu.remark"
                    pInputTextarea
                    placeholder="Remarks"
                  ></textarea>
                    <label for="inputtext">Remarks</label>
                  </span>
                </div>
              </div>
            </div>
          
          </div>
       
         
        </div>
      </div>
    </div>
  </div>
  