#chart {
    padding: 0;
    max-width: 650px;
    margin: 35px auto;
  }
  /* Default styles for larger screens */
.card {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 15px;
  }
  
 