<div *ngIf="!isMobile" class="card mat-elevation-z4">
  <div class="card-body" *ngIf="!contentloader">
    <div class="card-title">
      <h4>Trend Analysis</h4>
    </div>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [fill]="chartOptions.fill"
      [dataLabels]="chartOptions.dataLabels"
      [yaxis]="chartOptions.yaxis"
      [tooltip]="chartOptions.tooltip"
      [theme]="chartOptions.theme"
    ></apx-chart>
  </div>
  <div class="card-body" *ngIf="contentloader">
    <div class="card-title">
      <h4><p-skeleton width="100%" height="50px"></p-skeleton></h4>
    </div>
    <p-skeleton width="100%" height="300px"></p-skeleton>
  </div>
</div>

<!-- Show FullCalendar outside .card for smaller screens -->
<div class="card" *ngIf="isMobile">
  <div *ngIf="!contentloader">
    <div class="card-title">
      <h6>Trend Analysis</h6>
    </div>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [fill]="chartOptions.fill"
      [dataLabels]="chartOptions.dataLabels"
      [yaxis]="chartOptions.yaxis"
      [tooltip]="chartOptions.tooltip"
      [theme]="chartOptions.theme"
    ></apx-chart>
  </div>
  <div *ngIf="contentloader">
    <div class="card-title">
      <h6><p-skeleton width="100%" height="50px"></p-skeleton></h6>
    </div>
    <p-skeleton width="100%" height="300px"></p-skeleton>
  </div>
  
</div>
