<div class="card">
    <h4 class="card-title mt-2 ms-2" style="text-align: start;">
        Festival Advance Form</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <form>
                <div class="form-group row mt-2">
                    <label for="colFormLabel" class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="colFormLabel" style="width: 100%;">
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="inputPassword3" class="col-sm-4 col-form-label">Employee Number</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="inputPassword3" style="width: 100%;">
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Designation</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="inputEmail3" style="width: 100%;">
                    </div>
                </div>
                <div class="form-group row mt-2 " style="height:50px">
                    <label for="inputPassword3" class="col-sm-4 col-form-label">Total Number of Services Rendered as on date</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="inputPassword3" style="width: 100%;">
                    </div>
                </div>

                <div class="form-group row mt-5">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Date of Retirement</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="inputEmail3" style="width: 100%;">
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="inputPassword3" class="col-sm-4 col-form-label">Basic pay</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="inputPassword3" style="width: 100%;">
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Festival/Year</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="inputEmail3" style="width: 100%;">
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="inputPassword3" class="col-sm-4 col-form-label">Advance amount</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="inputPassword3" style="width: 100%;">
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Number of Installment</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="inputEmail3" style="width: 100%;">
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="inputPassword3" class="col-sm-4 col-form-label">Repayment Amount</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="inputPassword3" style="width: 100%;">
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>