<div class="container">
  <div class="row">
    <div class="col-12">
      <app-profile></app-profile>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-top-widgets></app-top-widgets>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-attendance></app-attendance>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-top-three-products></app-top-three-products>
    </div>
    <div class="col-6">
      <app-sales-by-category></app-sales-by-category>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-last-few-transactions></app-last-few-transactions>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-leavecalendar></app-leavecalendar>
    </div>
  </div>
</div>
