<!-- <div class="popuptempContent">
    <div class="speeddial-form">
        <div class="head" >
            <div class="textEle">Feedback & Question</div>
            <div class="iconEle"><span class="speeddial-icons speeddial-icon-close closeicon" (click)="closeClick()"></span></div>
        </div>
        <div class="content">
            <input type="text" id="name" floatLabelType="Always" placeholder="Enter your name" style="width: 100%">
            <input type="text" id="email" floatLabelType="Always"  placeholder="Enter your e-mail" style="width: 100%">
            <input type="text"  name="comment" placeholder="Share your comments" style="width: 100%">
        </div>
        <div class="footer">
            <button id="primarybtn" class="e-btn e-success" (click)="submitClick()"> Submit </button>
        </div>
    </div>
</div> -->