.icons{
    height: 75px;
    width: 75px;
    border-radius: 50%;
  }
  h5{
    font-weight:600;
    color:#202C4B !important;
  }
  .fonts{
    font-size: medium;
    font-weight:600;
    color:#202C4B !important;
  }